:root{
    --coffe: rgb(200, 130, 46);
    --font: rgb(227, 227, 227);
    --font-secondary: rgb(62, 60, 60);
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: poppins,sans-serif;
    padding-bottom: 20px;
    margin-bottom: 0;
    box-sizing: border-box;
    
}

/* Navbar */
.navbar .navbar-brand{
    font-family: "Oswald", sans-serif;
}

.navbar .container .nav-item a{
    font-size: 20px;
}
.navbar .container .nav-item a:hover{
    color: var(--coffe);
}

/* search-fitur */
.search-fitur{
    margin-top: 5rem;
}

/* Recomendasi */
.recomendasi{
    margin-top: 1rem;
}
.recommend-title, .promotion-title,.minuman-title, .makanan-title{
    color: var(--font);
    font-size: 1.4rem;
    margin-bottom: 1.6rem;
}
.recommend-card, .minuman-card, .makanan-card {
    color: var(--font);
    border-radius: 8px;
    text-align: center;
  }

  .recommend-card img, .minuman-card img, .makanan-card img{
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

  .recommend-card h5, .minuman-card h5, .makanan-card h5{
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .promotion h2{
    color: var(--font);
  }
  .promotion{
    width: 30%;
    margin: auto;
  }

  /* Minuman */
  .minuman, .makanan{
    margin-top: 40px;
  }
  .minuman .container, .makanan .container{
    border-radius: 20px;
    background-color: white;
    box-shadow: 2px 2px 2px black;
  }
  .minuman-title, .makanan-title{
    margin-top: -30px;
    color: var(--font-secondary);
  }
  .minuman-card h5, .makanan-card h5{
    color: var(--font-secondary);
  }
  .minuman .all-menu a, .makanan .all-menu a{
    color: var(--font-secondary);
    font-size: 1.3rem;
  }
  .minuman .all-menu, .makanan .all-menu{
    margin-bottom: -15px;
    margin-top: 20px;
  }

  /* footer */


/* Responsive */
@media (max-width: 576px) {
    body{
        padding-left:25px;
        padding-right: 25px;
    }
    .promotion{
        width: 70%;
    }
}